.header(ng-class="{nobg: $state.includes('home')}")
  .container
    .header__main.row
      .col-sm-4
        .header__logo
          a(href="/")
            img(src="images/logo.png", alt="brand")
      .col-sm-4
        .header__login
          a(href="http://lk.bridge-telecom.ru").btn.btn--yellow.btn--yellow--lg Личный кабинет
      .col-sm-4.col-sm-offset-4
        .header__phone
          a(href="tel:+7-4112-44-88-77") +7 (4112) 44-88-77
    .header__collapse__nav(ng-class="{'collapsing': toggle}")
      .col-xs-12
        ul
          li
            a(ui-sref="about" ng-click="toggle = !toggle") О компании
          li
            a(ui-sref="individual" ng-click="toggle = !toggle") Частным лицам
          li
            a(ui-sref="corporate" ng-click="toggle = !toggle") Корпоративным клиентам
          li
            a(ui-sref="map" ng-click="toggle = !toggle") Зона покрытия
          li
            a(ui-sref="service" ng-click="toggle = !toggle") Абоненту
          li
            a(ui-sref="contacts" ng-click="toggle = !toggle") Контакты
        a(href="http://lk.bridge-telecom.ru" ng-click="toggle = !toggle").btn.btn--yellow.btn--yellow--lg Личный кабинет
    .header__collapse__btn(ng-class="{'collapsing': toggle}")
      a.btn.btn--bento(ng-click="toggle = !toggle")
        i.fa(ng-class="{'fa-bars': !toggle, 'fa-chevron-left': toggle}")
  .header__nav
    ul
      li
        a.btn.btn--nav(ui-sref="about" ui-sref-active="active" ng-class="{hover: $state.includes('vacancies')}") О компании
      li
        a.btn.btn--nav(ui-sref="individual" ui-sref-active="active" ng-class="{hover: $state.includes('rates')}") Частным лицам
      li
        a.btn.btn--nav(ui-sref="corporate" ui-sref-active="active") Корпоративным клиентам
      li
        a.btn.btn--nav(ui-sref="map" ui-sref-active="active") Зона покрытия
      li
        a.btn.btn--nav(ui-sref="service" ui-sref-active="active") Абоненту
      li
        a.btn.btn--nav(ui-sref="contacts" ui-sref-active="active") Контакты