.btn
{
  display: inline-block;

  padding: 6px 12px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal !important;

  color: #333;
  border: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;

  @include transition(background .2s linear);
  &:hover
  {
    @include transition(background .2s linear);
  }
  &:active
  {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  &.btn--yellow
  {
    font-size: 16px;
    font-weight: 700;

    padding: 10px 49px;

    color: #333;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: $yellow;
    &:hover
    {
      background: $gold;
    }
    &:active
    {
      background: $orange;
    }
    &[disabled]
    {
      background: $yellow;
    }
    &.btn--yellow--lg
    {
      width: 100%;
      padding: 8px 12px;
    }
  }
  &.btn--transparent
  {
    padding: 4px 32px 5px;

    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    &:hover
    {
      color: #000;
      border: 1px solid $gold;
      background: $gold;
    }
    &:active
    {
      border: 1px solid $orange;
      background: $orange;
    }
  }
  &.btn--nav
  {
    font-size: 16px;

    padding: 5px 13px 6px;

    cursor: pointer;

    color: #fff;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    text-shadow: 1px 1px 1.2px rgba(0, 0, 0, .27);
    &:after
    {
      display: block;

      content: '';

      border-bottom: 1px solid #66839e;
    }
    &:hover,
    &.hover,
    &:active,
    &.active
    {
      &:after
      {
        border-bottom: 1px solid transparent;
      }
    }
    &:hover,
    &.hover
    {
      color: #fff;
      background: $blue;
    }
    &:active,
    &.active
    {
      background: #233b52;
      -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .35);
         -moz-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .35);
              box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .35);
    }
  }
  &.btn--bento
  {
    color: #fff;
    background: transparent;
  }
  &.btn--news
  {
    width: 100%;

    color: $indigo;
    border: 1px solid $indigo;
    &:hover
    {
      color: #000;
      border: 1px $gold solid;
      background: $gold;
    }
    &:active
    {
      color: #000;
      border: 1px $orange solid;
      background: $orange;
    }
  }
  &.btn--blue
  {
    width: 205px;
    padding: 6px 0;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #039;
  }
}
@media (max-width: 767px)
{
  .btn
  {
    &.btn--nav
    {
      &:after
      {
        border: 1px solid transparent;
      }
    }
  }
}
