section.contacts
  .container
    .row
      .col-xs-12
        h2 Контакты
        a.contacts__link(href="tel:+7-4112-44-88-77") +7 (4112) 44-88-77
        br
        a.contacts__link(href="tel:+7-4112-39-00-13") +7 (4112) 39-00-13
        br
        a.contacts__link(href="mailto:info@bridge-telecom.ru") info@bridge-telecom.ru
#map(style="height: 500px; width: 100%;")
//- div(map-lazy-load="https://maps.google.com/maps/api/js"
//- map-lazy-load-params="{{googleMapsUrl}}")
//-   ng-map(zoom="15"
//-             default-style="false"
//-             disable-default-u-i="true"
//-             disable-double-click-zoom="true"
//-             draggable="false"
//-             draggable-cursor="help"
//-             dragging-cursor="move"
//-             keyboard-shortcuts="false"
//-             max-zoom="16"
//-             min-zoom="4"
//-             map-type-id="TERRAIN"
//-             scrollwheel="false"
//-             zoom-to-include-markers="true"
//-             style="height: 400px;")
//-     marker(position="[62.0463543, 129.7170807]"
//-             title="Якутск, Респ. Саха (Якутия), 677000 \n ул. Петра Алексеева, 83/19 \n 8 (411) 244-88-77 \n "
//-             icon="{ url:'images/marker__red.png' }")