.area(map-lazy-load="https://maps.google.com/maps/api/js"
  map-lazy-load-params="{{googleMapsUrl}}")
  ng-map.area__map(zoom="4"
            default-style="false"
            disable-default-u-i="true"
            disable-double-click-zoom="true"
            draggable="false"
            draggable-cursor="help"
            dragging-cursor="move"
            keyboard-shortcuts="false"
            max-zoom="12"
            min-zoom="4"
            map-type-id="TERRAIN"
            scrollwheel="false"
            zoom-to-include-markers="true")
    marker(no-watcher="true"
          ng-repeat="p in markers"
          position="{{p.coordinates}}"
          title="{{p.properties.balloonContent}}" 
          icon="{ url:'images/marker__red.png' }")
    marker(no-watcher="true"
          ng-repeat="p in markers2"
          position="{{p.coordinates}}"
          title="{{p.properties.balloonContent}}" 
          icon="{ url:'images/marker__blue.png' }")