section.posts
  .container
    h2 Новости
    .articles
      .articles__body
        .row
          .col-md-6(ng-repeat="post in posts track by $index")
            .articles__img
              img.img-responsive(ng-src="{{post.cover}}", alt="")
            .articles__content(ml-ellipsis)
              a(ng-href="/posts/{{::post._id}}")
                h3 {{::post.title}}
              p {{::post.createdAt | date:'dd.MM.yyyy'}}
              p.lead {{::post.intro }}