@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);
h1,
h2,
h3
{
  margin: 20px 0 10px;
}
h1
{
  font: 700 52px/58px 'Open Sans', sans-serif;
}
h2
{
  font: 700 40px/48px 'Open Sans', sans-serif;
}
h3
{
  font: 700 28px/36px 'Open Sans', sans-serif;
}
p
{
  font: 400 12px/22px 'Open Sans', sans-serif;
  &.lead
  {
    font: 400 16px/22px 'Open Sans', sans-serif;

    margin: 0 0 10px;
  }
  &.desc
  {
    font: italic 400 12px/16px 'Open Sans', sans-serif;
  }
}
@media (max-width: 767px)
{
  h1
  {
    font: 700 28px/30px 'Open Sans', sans-serif;
  }
  h2
  {
    font: 700 30px/36px 'Open Sans', sans-serif;
  }
  h3
  {
    font: 700 20px/26px 'Open Sans', sans-serif;
  }
}
