.footer
{
  padding: 43px 0 27px;

  color: #fff;
  background: #003471;
  .footer__copyright
  {
    p
    {
      margin: 0 0 7px;
    }
    address
    {
      font-style: normal;

      margin: 0 0 15px;
      a
      {
        line-height: 22px;

        color: #fff;
        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }
  .footer__nav
  {
    ul
    {
      float: left;

      margin: 2px 0 0;
      padding-right: 60px;

      list-style: none;
      &:last-child
      {
        padding: 0;
      }
      a
      {
        font-size: 14px;

        margin: 0 0 3px;
      }
    }
  }
  .footer__social
  {
    a
    {
      float: right;

      margin-left: 20px;

      color: #fff;
      &:hover
      {
        color: $gold;
      }
      &:active
      {
        color: $orange;
      }
    }
  }
  .footer__author
  {
    a
    {
      position: relative;

      color: #fff;
      &:after
      {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 1px;

        content: '';

        background: #66839e;
      }
    }
  }
  p
  {
    font: 400 14px/36px 'Open Sans', sans-serif;
  }
}
@media (max-width: 991px)
{
  .footer
  {
    .footer__nav ul
    {
      padding: 0;
    }
  }
}
@media (max-width: 767px)
{
  .footer
  {
    text-align: center;
    .footer__nav ul,
    .footer__social a
    {
      float: none;

      padding: 0;
    }
    .footer__social
    {
      a
      {
        padding: 20px 0;
        &:first-child
        {
          margin: 0;
        }
      }
    }
  }
}
